body{
    background-size:cover;
    background-image:url(../assets/fondo\ chill.png);
}

.redondeado{
    border-radius: 10px;
    background-color: #A0ABED;
    text-align: center;
}
#val1, #val2{
    color:whitesmoke;
    font-weight: bold;
}

#total{
    font-weight:bolder;
}

hr{
    border-style: double;
    border-top: 100px solid #A0ABED;
}

p{
    font-weight: bold;
    color:#A0ABED;
}

